

.column_one {

background-color: rgb(253, 253, 253);
display: flex;
flex-direction: column;
height: auto;
position: relative;





}


.back_layout_design_one{

position: absolute;
background-color: rgb(0, 0, 0);
width: 30%;
height: 4.5%;
top: 95%;
left: 60%;

box-shadow: 7px 10px 17px -8px rgba(0,0,0,0.75);
-webkit-box-shadow: 7px 10px 17px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 10px 17px -8px rgba(0,0,0,0.75);

-webkit-animation: slide-in-top 0.6s ease-in-out 0.8s both;
animation: slide-in-top 0.6s ease-in-out 0.8s both;

}


.back_layout_design_two {


position: absolute;
background-color: rgb(0, 0, 0);
width: 30%;
height: 20%;
left: 60%;
top: 1%;

box-shadow: 7px 10px 17px -8px rgba(0,0,0,0.75);
-webkit-box-shadow: 7px 10px 17px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 10px 17px -8px rgba(0,0,0,0.75);

-webkit-animation: slide-in-top 0.6s ease-in-out 0.5s both;
 animation: slide-in-top 0.6s ease-in-out 0.5s both;

}







/***Navigation bar***/

nav.navbar.navbar-expand-lg {

    background-color: rgb(255, 255, 255);
    font-family: 'Patua One', cursive;
    letter-spacing: 2px;
    z-index: 3;
    
    box-shadow: 7px 10px 17px -8px rgba(0,0,0,0.75);
    -webkit-box-shadow: 7px 10px 17px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 10px 17px -8px rgba(0,0,0,0.75);
}

a.navbar-brand {

margin-left: 2%;
transition: 0.3s;

}

a.navbar-brand:hover {

background-color: #3e3e3e;
color: white;



}

ul.navbar-nav {

margin-left: 5%;


}

a.nav-link {

margin-right: 10px;
transition: 0.3s;


}


a.nav-link:hover {

background-color: #3e3e3e;
color: white;


}


nav.navbar.navbar-expand-lg i {

margin-right: 10px;

}





/***starting_page_container***/


.starting_page_container {

margin-top: 10%;
aspect-ratio: 10/3.5;

display: grid;   
grid-template-columns: 45% 55%;
position: relative;

}


.back_design_layout {

position: absolute;
background-color: rgb(216, 216, 216);
width:100%;

aspect-ratio: 8/2.6;


-webkit-animation: slide-in-left 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
animation: slide-in-left 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;


}



/***Name and info***/

.name_and_info_grid {


display: flex;
align-items: center;
justify-content: center;

}


.name_and_info {

margin-left: 3%;    
background-color: rgb(255, 255, 255);
width: 85%;
aspect-ratio: 6/4;
z-index: 1;
display: flex;
flex-direction: column;
box-shadow: 7px 10px 11px -1px rgba(0,0,0,0.75);
-webkit-box-shadow: 7px 10px 11px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 10px 11px -1px rgba(0,0,0,0.75);

-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.6s both;
animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.6s both;

cursor: pointer;


}




.greeting {


margin-top: 10%;
margin-left: 3%;
font-family: 'Black Ops One', cursive;
font-size: clamp(5px, 1.5vw, 30px);
letter-spacing: 1px;

}

.my_name {


margin-left: 3%;
font-family: 'Black Ops One', cursive;
font-size: clamp(5px, 2.2vw, 45px);
letter-spacing: 1px;



}

.pro_summary {

margin-top: 6%;    
margin-left: 3%;    
max-width: 90%;
word-wrap: break-word;
font-family: 'Patua One', cursive;
letter-spacing: 1.5px;
font-size: clamp(5px, 1vw, 19px);

}

.social_media_container {

width: 90%;
height: 15%;

margin-top: 4%;    
margin-left: 3%; 
display: grid;
grid-template-columns: 30% 70%;


}

.check_out {

font-family: 'Patua One', cursive;    
letter-spacing: 1.5px;
font-size: clamp(5px, 1vw, 20px);   
font-weight: bold; 

display: flex;
justify-content: start;
align-items: center;

}

.icon_holder_container {

display: flex;
flex-direction: row;
gap: 6%;
align-items: center;

}

.icon_holder {

width: 14%;
aspect-ratio: 6/5.2;
background-color: grey;
-webkit-clip-path: circle(41.3% at 50% 50%);
clip-path: circle(41.3% at 50% 50%);
display: flex;
justify-content: center;
align-items: center;

-webkit-animation: bounce-in-top 1.1s 2.8s both;
animation: bounce-in-top 1.1s 2.8s both;

cursor: pointer;

}


.icon_holder:hover {

        background-color:rgb(0, 0, 0) ;

        }

.icon_holder:nth-child(1) {



}


.icon_holder i {

font-size: clamp(5px, 2vw, 30px); 


}








/***Wallpaper and Design***/

.wallpaper_and_design_grid {

display: flex;
justify-content: center;
align-items: center;
position: relative;


}

.profession_title {

position: absolute;
width: 50%;
color: rgb(255, 255, 255);
background-color: black;
display: flex;
align-items: center;
justify-content: center;
aspect-ratio: 7/2.5;
left: 1%;
font-family: 'Black Ops One', cursive;
font-size: clamp(5px, 2.2vw, 45px);
z-index: 2;

box-shadow: 7px 10px 14px -4px rgba(0,0,0,0.75);
-webkit-box-shadow: 7px 10px 14px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 10px 14px -4px rgba(0,0,0,0.75);

cursor: pointer;
-webkit-animation: swing-in-left-bck 0.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) 2.6s both;
 animation: swing-in-left-bck 0.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) 2.6s both;

}

.profession_title_design_triangle {

color: white;
z-index: 6;
position: absolute;
background-color: rgb(32, 32, 32);
top: 20%;
left: 1%;
width:18.8%;
height: 15.8%;

-webkit-clip-path: polygon(100% 33%, 0 100%, 100% 100%);
clip-path: polygon(100% 33%, 0 100%, 100% 100%);

-webkit-animation: swing-in-right-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) 2.5s both;
animation: swing-in-right-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) 2.5s both;

}


.wallpaper_container {

margin-left: 10%;   
width: 70%;
aspect-ratio: 5/3.5;    
background-color: white;
display: flex;
justify-content: flex-end;
align-items: center;
z-index: 1;

cursor: pointer;

box-shadow: 7px 10px 11px -1px rgba(0,0,0,0.75);
-webkit-box-shadow: 7px 10px 11px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 10px 11px -1px rgba(0,0,0,0.75);


-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.1s both;
animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.1s both;

}

.wallpaper_photo_container {

width: 35%;   
background-color: gray;
aspect-ratio: 3/5.5;
margin-right: 3%;

}

.wallpaper_photo_container img {

width: 100%;
height: 100%;
object-fit: cover;

}



@media (max-width: 800px) {


.column_one {

background-color: rgb(184, 184, 184);

}


a.nav-link {

font-size: 3vw;

}

.starting_page_container {


grid-template-columns: 1fr;

}


.name_and_info_grid {


margin-bottom: 5%;

}




.back_layout_design_one{

    width: 0%;
    height: 0%;
    
    }
    
    
    .back_layout_design_two {
    
    
    width: 0%;
    height: 0%;
    
    }

    .back_design_layout {

    width: 0%;
    height: 0%;
    

    }

    .name_and_info {

        margin-left: 0%;
        width: 95%;
        aspect-ratio: 6/4.3;
        box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;

    }

    .wallpaper_and_design_grid {

        margin-bottom: 5%;

    }


    .greeting {


        margin-top: 10%;
        margin-left: 3%;
        font-family: 'Black Ops One', cursive;
        font-size: 4vw;
        letter-spacing: 1px;
        
        }

    .my_name  {


        font-size: 6vw;

    }
    
    .pro_summary {


        font-size: 2.8vw;

    }

    .check_out {

        font-size: 2.8vw;

    }
    
    .icon_holder {

        width: 18%;

    }

    .icon_holder i {

    font-size: 3.5vw;

    }

    .wallpaper_container {
        margin-left: 10%; 
        width: 85%;
        aspect-ratio: 4/2;
        border: 0;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;

    }

    .wallpaper_photo_container {

        aspect-ratio: 3/3.8;
        


    }

    .profession_title {

        left: 2.5%;
        font-size: 4vw;

    }

    .profession_title_design_triangle {


        top: 13%;
        left: 2.5%;
        width: 10%;
        height: 15.8%;
        
       
        
        }
        
}



/* ----------------------------------------------
 * Generated by Animista on 2023-8-30 16:33:41
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  




 @-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  




/* ----------------------------------------------
 * Generated by Animista on 2023-8-30 16:38:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  




/* ----------------------------------------------
 * Generated by Animista on 2023-8-30 16:45:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-in-right-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes swing-in-right-fwd {
    0% {
      -webkit-transform: rotateY(-100deg);
              transform: rotateY(-100deg);
      -webkit-transform-origin: right;
              transform-origin: right;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      -webkit-transform-origin: right;
              transform-origin: right;
      opacity: 1;
    }
  }
  @keyframes swing-in-right-fwd {
    0% {
      -webkit-transform: rotateY(-100deg);
              transform: rotateY(-100deg);
      -webkit-transform-origin: right;
              transform-origin: right;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      -webkit-transform-origin: right;
              transform-origin: right;
      opacity: 1;
    }
  }
  
  



 @-webkit-keyframes swing-in-left-bck {
    0% {
      -webkit-transform: rotateY(-70deg);
              transform: rotateY(-70deg);
      -webkit-transform-origin: left;
              transform-origin: left;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      -webkit-transform-origin: left;
              transform-origin: left;
      opacity: 1;
    }
  }
  @keyframes swing-in-left-bck {
    0% {
      -webkit-transform: rotateY(-70deg);
              transform: rotateY(-70deg);
      -webkit-transform-origin: left;
              transform-origin: left;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      -webkit-transform-origin: left;
              transform-origin: left;
      opacity: 1;
    }
  }
  


/* ----------------------------------------------
 * Generated by Animista on 2023-8-30 16:48:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  


  /* ----------------------------------------------
 * Generated by Animista on 2023-8-30 20:28:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-pop-tr
 * ----------------------------------------
 */
@-webkit-keyframes shadow-pop-tr {
        0% {
          -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
                  box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
          -webkit-transform: translateX(0) translateY(0);
                  transform: translateX(0) translateY(0);
        }
        100% {
          -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
                  box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
          -webkit-transform: translateX(-8px) translateY(8px);
                  transform: translateX(-8px) translateY(8px);
        }
      }
      @keyframes shadow-pop-tr {
        0% {
          -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
                  box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
          -webkit-transform: translateX(0) translateY(0);
                  transform: translateX(0) translateY(0);
        }
        100% {
          -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
                  box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
          -webkit-transform: translateX(-8px) translateY(8px);
                  transform: translateX(-8px) translateY(8px);
        }
      }
      